.stoplight1{
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 25px;
}
.stoplight2{
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 25px;
}
.stoplight3{
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 25px;
}

body{
    background-color:#515555cc;
}


.green{
    width: 200px;
    height: 200px;
    background:green;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 25px;
}

.inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}